html,body,div{
    margin:0;
    padding:0;
    border:0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    width: 100%;
    height: 100%;
}

.contenedor{
    background-color: chocolate;
    color:#f2f2f2;
}

.elemento h1{
font-size: 44px;
}


/*@media screen and (min-width: 480px){
    .contenedor{
        background-color: blueviolet;
    }

}*/

/*@media (max-width:676px){
    .contenedor{
        background-color: blueviolet;
    }
    .elemento h1{
        font-size: 28px;
        text-align: center;
        padding-top: 10px;
    }
    
}*/

@media print{
    .elemento h1{
        font-size: 120px;
    }
}

@media(min-width:991px){
.elemento p:nth-last-of-type(1){
    display: block;
}
}

@media (min-width:677px) and (max-width:990px){
    .contenedor{
        background-color: orange;
    }
    .elemento p:nth-of-type(2){
        display: block;
    }
}

/*mobile*/
@media (min-width:320px) and (max-width:676px){
    .contenedor{
        background-color: darkolivegreen;
    }
    .elemento p:nth-of-type(3){
        display: block;
    }
}

/*Dispositivos muy pequeños*/
@media (max-width:320px){
    .contenedor{
        background-color: brown;
    }
    .elemento p:nth-of-type(4){
        display: block;
    }
}


